process {
    shell = ['/bin/bash', '-euo', 'pipefail']
    container = 'stuartlee/nf-str:latest'
}

'''
process {
    withName: 'download_s3_files' {
        container = null
    }
}
'''

// downloading from public s3 buckets without credentials
aws {
    client {
        anonymous = true 
    }
}

profiles {
        
    // miltion hpc cluster with apptainer
    // this is also the target profile for GEL as 
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        process.container = 'stuartlee/nf-str:latest'
        errorStrategy { 'retry' }
    }
    
    // biobank clouds (AoU = google cloud)
    cloud {
        docker.enabled = true
        process.container = 'stuartlee/nf-str:latest'
        process.executor = 'google-batch' 
    }
}

'''
plugins {
    id 'nf-boost@0.3.1'
    //confirmed working with Nextflow v24.10.5
}

// Enable nf-boost cleanup
boost {
    cleanup = true
    cleanupInterval = 60
}
'''